.sb-bar {
  background-color: #fff !important;
  box-shadow: hsla(203, 50%, 30%, 0.15) 0 -1px 0 0 inset !important;
}

div:has(.sidebar-container) {
  background-color: #fff !important;
}

#storybook-explorer-searchfield {
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: -0.01em !important;
  line-height: 14px !important;
}

.sidebar-item svg,
.sidebar-svg-icon {
  color: #11100f !important;
}

.sidebar-item[data-selected="true"] svg,
.sidebar-item[data-selected="true"] .sidebar-svg-icon {
  color: #ffffff !important;
}

.sidebar-subheading {
  font-weight: 600 !important;
  font-size: 16px !important;
  letter-spacing: 0px !important;
  line-height: 24px !important;
  text-transform: none !important;
  color: #11100f !important;
}

.sidebar-subheading button {
  align-items: center !important;
}

.sidebar-item {
  align-items: center !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  letter-spacing: -0.01em !important;
  line-height: 24px !important;
  color: #11100f !important;
}

.sidebar-item[data-selected="true"] {
  font-weight: 600 !important;
  font-size: 14px !important;
  letter-spacing: -0.01em !important;
  line-height: 24px !important;
  color: #ffffff !important;
}

.sidebar-item > span:first-child,
.sidebar-item > svg {
  margin-top: 0 !important;
}

/*
  * Hides "Addons" button from mobile view nav.
  */
nav > button:last-child {
  display: none;
}

/*
  Storybook has proposed a feature for this in https://github.com/storybookjs/storybook/issues/9209
  which will configure stories to exist in deeplink URL format, but do not appear in the nav tree or the docs page
  Using suggested temporary workaround until storybook gets proper support
  See https://github.com/microsoft/fluentui/blob/master/docs/react-v9/contributing/rfcs/react-components/convergence/authoring-stories.md#10-internal-stories-for-testing
  */
[id*="accessibility-stories"] {
  display: none !important;
}

/* remove margin from sidebar logo  */
.sidebar-header > div:first-of-type {
  margin-right: 0;
}

/* remove sidebar shortcuts menu */
.sidebar-header > div:last-child {
  display: none;
}

/* Add left side background color splash */
/* colors become distracting in mobile layout so scoped to where sidebar is visible */

/* Give sidebar a transparent white background to match design */
.sidebar-container {
  background: #fcfdfe !important;
}

/* remove background preventing color splash from showing */
#storybook-preview-wrapper {
  background: transparent;
}

/*
   * Set position fixed to create a layer and prevent iframe from jumping when content is
   * larger than the viewport and the iframe itself
   */
[role="main"] {
  position: fixed;
}

/* remove box shadow style from storybooks wrapper div */
[role="main"] > div {
  box-shadow: none;
}

/* permanently hide toolbar so animation never appears on page load */
[role="main"] .os-host {
  display: none;
}

/* stop offset from changing page dimensions when 't' is pressed and toolbar opened */
[role="main"] > div > div > div {
  top: 0 !important;
  height: 100% !important;
}

/* Custom */

#root > div {
  grid-template-columns: minmax(0, 220px) minmax(100px, 1fr) minmax(0, 400px);
}

.sidebar-header img {
  max-width: 80px;
}
.sidebar-header button {
  display: none;
}
button.sidebar-item svg,
button.sidebar-item img {
  margin-top: -1px;
}

div.sidebar-item svg,
div.sidebar-item img {
  margin-top: 2px;
}
