/* packages/styles/src/tokens/components/button.css */
:root {
  --button-ring: var(--abc-ring);
  --button-ring-destructive: var(--abc-ring-destructive);

  /* Primary button styles */
  --button-bg-primary: var(--abc-bg-primary);
  --button-fg-primary: var(--abc-fg-primary);
  --button-border-primary: var(--abc-border-primary);

  --button-bg-primary-hover: var(--abc-bg-primary);
  --button-fg-primary-hover: var(--abc-fg-primary);
  --button-border-primary-hover: var(--abc-border-primary);

  --button-bg-primary-expanded: var(--abc-bg-accent);
  --button-fg-primary-expanded: var(--abc-fg-base);
  --button-border-primary-expanded: var(--abc-border-primary);

  /* Secondary button styles */
  --button-bg-secondary: var(--abc-bg-secondary);
  --button-fg-secondary: var(--abc-fg-secondary);
  --button-border-secondary: var(--abc-border-secondary);

  --button-bg-secondary-hover: var(--abc-bg-secondary);
  --button-fg-secondary-hover: var(--abc-fg-secondary);
  --button-border-secondary-hover: var(--abc-border-secondary);

  --button-bg-secondary-expanded: var(--abc-bg-secondary);
  --button-fg-secondary-expanded: var(--abc-fg-secondary);
  --button-border-secondary-expanded: var(--abc-border-secondary);

  /* Outline button styles */
  --button-bg-outline: var(--abc-bg-base);
  --button-fg-outline: var(--abc-fg-base);
  --button-border-outline: var(--abc-border-muted);

  --button-bg-outline-hover: var(--abc-bg-accent);
  --button-fg-outline-hover: var(--abc-fg-base);
  --button-border-outline-hover: var(--abc-border-muted);

  --button-bg-outline-expanded: var(--abc-bg-accent);
  --button-fg-outline-expanded: var(--abc-fg-base);
  --button-border-outline-expanded: var(--abc-border-muted);

  /* Ghost button styles */
  --button-bg-ghost: var(--abc-bg-clear);
  --button-fg-ghost: var(--abc-fg-accent);

  --button-bg-ghost-hover: var(--abc-bg-accent);
  --button-fg-ghost-hover: var(--abc-fg-accent);

  --button-bg-ghost-expanded: var(--abc-bg-accent);
  --button-fg-ghost-expanded: var(--abc-fg-accent);

  /* Destructive button styles */
  --button-bg-destructive: var(--abc-bg-destructive);
  --button-fg-destructive: var(--abc-fg-primary);
  --button-border-destructive: var(--abc-border-destructive);

  --button-bg-destructive-hover: var(--abc-bg-destructive);
  --button-fg-destructive-hover: var(--abc-fg-primary);
  --button-border-destructive-hover: var(--abc-border-destructive);

  --button-bg-destructive-expanded: var(--abc-bg-accent);
  --button-fg-destructive-expanded: var(--abc-fg-primary);
  --button-border-destructive-expanded: var(--abc-border-destructive);

  /* Link button styles */
  --button-bg-link: var(--abc-bg-base);
  --button-fg-link: var(--abc-fg-base);

  --button-bg-link-hover: var(--abc-bg-link);
  --button-fg-link-hover: var(--abc-fg-link-hover);

  --button-radius-xs: var(--abc-radius-xs);
  --button-radius-sm: var(--abc-radius-sm);
  --button-radius-md: var(--abc-radius-md);
  --button-radius-lg: var(--abc-radius-lg);
  --button-radius-xl: var(--abc-radius-xl);
}
