:root {
  --alert-bg-default: var(--surface);
  --alert-fg-default: var(--surface-foreground);

  --alert-bg-destructive: var(--surface);
  --alert-fg-destructive: var(--destructive);

  --alert-title-fg-link: var(--foreground);

  --alert-description-fg: var(--muted-foreground);
  --alert-description-fg-link: var(--primary);
}

@layer components {
  .alert {
    @apply relative grid w-full gap-0.5 rounded-lg border px-2.5 py-2 text-left text-sm;
    @apply has-data-[slot=alert-action]:relative has-data-[slot=alert-action]:pr-18 has-[>svg]:grid-cols-[auto_1fr] has-[>svg]:gap-x-2 *:[svg]:row-span-2 *:[svg]:translate-y-0.5 *:[svg]:text-current *:[svg:not([class*='size-'])]:size-4;

    &:has(> svg) .alert-title {
      @apply col-start-2;
    }
  }

  .alert-default {
    @apply bg-(--alert-bg-default) text-(--alert-fg-default);
  }

  .alert-destructive {
    @apply bg-(--alert-bg-destructive) text-(--alert-fg-destructive) *:data-[slot=alert-description]:text-(--alert-fg-destructive)/90 *:[svg]:text-current;
  }

  .alert-title {
    @apply font-medium [&_a]:underline [&_a]:underline-offset-3 [&_a]:hover:text-(--alert-title-fg-link);
  }

  .alert-description {
    @apply text-sm text-balance text-(--alert-description-fg) md:text-pretty [&_a]:underline [&_a]:underline-offset-3 [&_a]:hover:text-(--alert-description-fg-link) [&_p:not(:last-child)]:mb-4;
  }
  .alert-action {
    @apply absolute top-2 right-2;
  }
}
