/* packages/styles/src/tokens/components/button.css */
:root {
  --button-ring: var(--ring);
  --button-ring-destructive: var(--destructive);

  /* Primary button styles */
  --button-bg-primary: var(--primary);
  --button-fg-primary: var(--primary-foreground);
  --button-border-primary: var(--primary);

  --button-bg-primary-hover: var(--primary);
  --button-fg-primary-hover: var(--primary-foreground);
  --button-border-primary-hover: var(--primary);

  --button-bg-primary-expanded: var(--accent);
  --button-fg-primary-expanded: var(--accent-foreground);
  --button-border-primary-expanded: var(--primary);

  /* Secondary button styles */
  --button-bg-secondary: var(--secondary);
  --button-fg-secondary: var(--secondary-foreground);
  --button-border-secondary: transparent;

  --button-bg-secondary-hover: var(--secondary);
  --button-fg-secondary-hover: var(--secondary-foreground);
  --button-border-secondary-hover: transparent;

  --button-bg-secondary-expanded: var(--secondary);
  --button-fg-secondary-expanded: var(--secondary-foreground);
  --button-border-secondary-expanded: transparent;

  /* Outline button styles */
  --button-bg-outline: var(--background);
  --button-fg-outline: var(--foreground);
  --button-border-outline: var(--border);

  --button-bg-outline-hover: var(--accent);
  --button-fg-outline-hover: var(--accent-foreground);
  --button-border-outline-hover: var(--border);

  --button-bg-outline-expanded: var(--accent);
  --button-fg-outline-expanded: var(--accent-foreground);
  --button-border-outline-expanded: var(--border);

  /* Ghost button styles */
  --button-bg-ghost: transparent;
  --button-fg-ghost: var(--accent-foreground);
  --button-border-ghost: transparent;

  --button-bg-ghost-hover: var(--accent);
  --button-fg-ghost-hover: var(--accent-foreground);
  --button-border-ghost-hover: transparent;

  --button-bg-ghost-expanded: var(--accent);
  --button-fg-ghost-expanded: var(--accent-foreground);
  --button-border-ghost-expanded: transparent;

  /* Destructive button styles */
  --button-bg-destructive: var(--destructive);
  --button-fg-destructive: var(--destructive-foreground);
  --button-border-destructive: var(--destructive);

  --button-bg-destructive-hover: var(--destructive);
  --button-fg-destructive-hover: var(--destructive-foreground);
  --button-border-destructive-hover: var(--destructive);

  --button-bg-destructive-expanded: var(--destructive);
  --button-fg-destructive-expanded: var(--destructive-foreground);
  --button-border-destructive-expanded: var(--destructive);

  /* Link button styles */
  --button-bg-link: transparent;
  --button-fg-link: var(--foreground);

  --button-bg-link-hover: transparent;
  --button-fg-link-hover: var(--primary);

  --button-radius-xs: var(--radius-xs);
  --button-radius-sm: var(--radius-sm);
  --button-radius-md: var(--radius-md);
  --button-radius-lg: var(--radius-lg);
  --button-radius-xl: var(--radius-xl);
}

@layer components {
  .button {
    @apply focus-visible:border-(--button-ring) focus-visible:ring-3 focus-visible:ring-(--button-ring)/50;
    @apply aria-invalid:border-(--button-border-destructive) aria-invalid:ring-3 aria-invalid:ring-(--button-ring-destructive)/20;
    @apply inline-flex shrink-0 items-center justify-center border border-transparent bg-clip-padding text-sm font-medium whitespace-nowrap transition-all outline-none select-none active:not-aria-[haspopup]:translate-y-px;
    @apply disabled:pointer-events-none disabled:opacity-50;
    @apply [&_svg]:pointer-events-none [&_svg]:shrink-0;
  }

  .button-variant-default {
    @apply border-(--button-border-primary) bg-(--button-bg-primary) text-(--button-fg-primary);
    @apply hover:border-(--button-border-primary-hover) hover:bg-(--button-bg-primary-hover) hover:text-(--button-fg-primary-hover);
    @apply aria-expanded:border-(--button-border-primary-expanded) aria-expanded:bg-(--button-bg-primary-expanded) aria-expanded:text-(--button-fg-primary-expanded);
  }
  .button-variant-secondary {
    @apply border-(--button-border-secondary) bg-(--button-bg-secondary) text-(--button-fg-secondary);
    @apply hover:border-(--button-border-secondary-hover) hover:bg-(--button-bg-secondary-hover) hover:text-(--button-fg-secondary-hover);
    @apply aria-expanded:border-(--button-border-secondary-expanded) aria-expanded:bg-(--button-bg-secondary-expanded) aria-expanded:text-(--button-fg-secondary-expanded);
  }

  .button-variant-outline {
    @apply border-(--button-border-outline) bg-(--button-bg-outline) text-(--button-fg-outline);
    @apply hover:border-(--button-border-outline-hover) hover:bg-(--button-bg-outline-hover) hover:text-(--button-fg-outline-hover);
    @apply aria-expanded:border-(--button-border-outline-expanded) aria-expanded:bg-(--button-bg-outline-expanded) aria-expanded:text-(--button-fg-outline-expanded);
  }

  /* border-transparent */
  .button-variant-ghost {
    @apply border-(--button-border-ghost) bg-(--button-bg-ghost) text-(--button-fg-ghost);
    @apply hover:border-(--button-border-ghost-hover) hover:bg-(--button-bg-ghost-hover) hover:text-(--button-fg-ghost-hover);
    @apply aria-expanded:border-(--button-border-ghost-expanded) aria-expanded:bg-(--button-bg-ghost-expanded) aria-expanded:text-(--button-fg-ghost-expanded);
  }

  .button-variant-destructive {
    @apply focus-visible:border-(--button-ring-destructive) focus-visible:ring-3 focus-visible:ring-(--button-ring-destructive)/50;

    @apply border-(--button-border-destructive) bg-(--button-bg-destructive) text-(--button-fg-destructive);
    @apply hover:border-(--button-border-destructive-hover) hover:bg-(--button-bg-destructive-hover) hover:text-(--button-fg-destructive-hover);
    @apply aria-expanded:border-(--button-border-destructive-expanded) aria-expanded:bg-(--button-bg-destructive-expanded) aria-expanded:text-(--button-fg-destructive-expanded);
  }

  .button-variant-link {
    @apply bg-(--button-bg-link) text-(--button-fg-link);
    @apply hover:bg-(--button-bg-link-hover) hover:text-(--button-fg-link-hover);
    @apply underline-offset-4 hover:underline;
  }

  .button-size-xs {
    @apply h-6 gap-1 px-2 text-xs has-data-[icon=inline-end]:pr-1 has-data-[icon=inline-start]:pl-1 [&_svg:not([class*='size-'])]:size-3;
  }
  .button-size-sm {
    @apply h-7 gap-1 px-2.5 text-sm has-data-[icon=inline-end]:pr-1.5 has-data-[icon=inline-start]:pl-1.5 [&_svg:not([class*='size-'])]:size-3.5;
  }
  .button-size-default {
    @apply h-8 gap-1.5 px-2.5 has-data-[icon=inline-end]:pr-2 has-data-[icon=inline-start]:pl-2 [&_svg:not([class*='size-'])]:size-4;
  }
  .button-size-lg {
    @apply h-9 gap-1.5 px-2.5 text-lg has-data-[icon=inline-end]:pr-2.5 has-data-[icon=inline-start]:pl-2.5 [&_svg:not([class*='size-'])]:size-4.5;
  }
  .button-size-xl {
    @apply h-10 gap-1.5 px-3 text-xl has-data-[icon=inline-end]:pr-3 has-data-[icon=inline-start]:pl-3 [&_svg:not([class*='size-'])]:size-5;
  }

  .button-size-icon-xs {
    @apply size-6 [&_svg:not([class*='size-'])]:size-3;
  }
  .button-size-icon-sm {
    @apply size-7 [&_svg:not([class*='size-'])]:size-3.5;
  }
  .button-size-icon {
    @apply size-8 [&_svg:not([class*='size-'])]:size-4;
  }
  .button-size-icon-lg {
    @apply size-9 [&_svg:not([class*='size-'])]:size-4.5;
  }
  .button-size-icon-xl {
    @apply size-10 [&_svg:not([class*='size-'])]:size-5;
  }

  .button-rounded-xs {
    @apply rounded-(--button-radius-xs);
  }
  .button-rounded-sm {
    @apply rounded-(--button-radius-sm);
  }
  .button-rounded-default {
    @apply rounded-(--button-radius-md);
  }
  .button-rounded-lg {
    @apply rounded-(--button-radius-lg);
  }
  .button-rounded-xl {
    @apply rounded-(--button-radius-xl);
  }
}
