:root {
  --textarea-ring: var(--ring);

  --textarea-bg: var(--background);
  --textarea-border: var(--border-input);
  --textarea-border-destructive: var(--destructive);

  --textarea-fg-placeholder: var(--muted-foreground);
}

@layer components {
  .textarea {
    @apply focus-visible:border-(--textarea-ring) focus-visible:ring-3 focus-visible:ring-(--textarea-ring)/50;
    @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:bg-(--textarea-bg)/50 disabled:opacity-50;
    @apply aria-invalid:border-(--textarea-border-destructive) aria-invalid:ring-3 aria-invalid:ring-(--textarea-border-destructive)/20;
    @apply border-(--textarea-border) bg-(--textarea-bg) placeholder:text-(--textarea-fg-placeholder);
    @apply flex field-sizing-content min-h-16 w-full rounded-lg border px-2.5 py-2 text-base transition-colors outline-none md:text-sm;
  }
}
