:root {
  --abc-bg-base: var(--color-white);
  --abc-fg-base: var(--color-slate-950);

  --abc-ring: var(--color-blue-600);

  --abc-bg-primary: var(--color-blue-600);
  --abc-fg-primary: var(--color-slate-50);
  --abc-border-primary: var(--color-blue-600);

  --abc-bg-secondary: var(--color-slate-100);
  --abc-fg-secondary: var(--color-slate-950);
  --abc-border-secondary: var(--color-slate-100);

  --abc-bg-destructive: var(--color-red-600);
  --abc-fg-destructive: var(--color-white);
  --abc-border-destructive: var(--color-red-600);
  --abc-ring-destructive: var(--color-red-600);

  --abc-bg-muted: var(--color-slate-100);
  --abc-fg-muted: var(--color-slate-500);
  --abc-border-muted: var(--color-slate-200);

  --abc-bg-accent: var(--color-slate-100);
  --abc-fg-accent: var(--color-slate-950);
  --abc-border-accent: var(--color-slate-200);
}

.dark {
  --abc-bg-base: var(--color-slate-950);
  --abc-fg-base: var(--color-slate-50);

  --abc-bg-primary: var(--color-blue-600);
  --abc-fg-primary: var(--color-slate-50);
  --abc-border-primary: var(--color-blue-600);
  --abc-ring-primary: var(--color-blue-600);

  --abc-bg-secondary: var(--color-slate-100);
  --abc-fg-secondary: var(--color-slate-950);
  --abc-border-secondary: var(--color-slate-100);
  --abc-ring-secondary: var(--color-slate-100);

  --abc-bg-destructive: var(--color-red-600);
  --abc-fg-destructive: var(--color-white);
  --abc-border-destructive: var(--color-red-600);
  --abc-ring-destructive: var(--color-red-600);

  --abc-bg-muted: var(--color-slate-100);
  --abc-fg-muted: var(--color-slate-500);
  --abc-border-muted: var(--color-slate-200);
  --abc-ring-muted: var(--color-slate-200);

  --abc-bg-accent: var(--color-slate-100);
  --abc-fg-accent: var(--color-slate-950);
  --abc-border-accent: var(--color-slate-200);
  --abc-ring-accent: var(--color-slate-200);
}
