/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.badge {
  --badge-fg-bold: var(--fg-neutral-inverse);
  --badge-fg-bold-blue: var(--fg-neutral-inverse);
  --badge-fg-bold-orange: var(--fg-neutral-inverse);
  --badge-fg-bold-red: var(--fg-neutral-inverse);
  --badge-fg-bold-green: var(--fg-neutral-inverse);
  --badge-fg-subtle: var(--fg-neutral-primary);
  --badge-fg-subtle-blue: var(--fg-tint-blue);
  --badge-fg-subtle-orange: var(--fg-tint-orange);
  --badge-fg-subtle-red: var(--fg-tint-red);
  --badge-fg-subtle-green: var(--fg-tint-green);
  --badge-fg-outline: var(--fg-neutral-primary);
  --badge-fg-outline-blue: var(--fg-tint-blue);
  --badge-fg-outline-orange: var(--fg-tint-orange);
  --badge-fg-outline-red: var(--fg-tint-red);
  --badge-fg-outline-green: var(--fg-tint-green);

  --badge-border-bold: var(--border-neutral-transparent);
  --badge-border-bold-blue: var(--border-neutral-transparent);
  --badge-border-bold-orange: var(--border-neutral-transparent);
  --badge-border-bold-red: var(--border-neutral-transparent);
  --badge-border-bold-green: var(--border-neutral-transparent);
  --badge-border-subtle: var(--border-neutral-transparent);
  --badge-border-subtle-blue: var(--border-neutral-transparent);
  --badge-border-subtle-orange: var(--border-neutral-transparent);
  --badge-border-subtle-red: var(--border-neutral-transparent);
  --badge-border-subtle-green: var(--border-neutral-transparent);
  --badge-border-outline: var(--border-neutral-tertiary);
  --badge-border-outline-blue: var(--border-tint-blue);
  --badge-border-outline-orange: var(--border-tint-orange);
  --badge-border-outline-red: var(--border-tint-red);
  --badge-border-outline-green: var(--border-tint-green);

  --badge-bg-bold: var(--bg-neutral-inverse);
  --badge-bg-bold-blue: var(--bg-tint-blue-bold);
  --badge-bg-bold-orange: var(--bg-tint-orange-bold);
  --badge-bg-bold-red: var(--bg-tint-red-bold);
  --badge-bg-bold-green: var(--bg-tint-green-bold);
  --badge-bg-subtle: var(--bg-neutral-tertiary);
  --badge-bg-subtle-blue: var(--bg-tint-blue-subtle);
  --badge-bg-subtle-orange: var(--bg-tint-orange-subtle);
  --badge-bg-subtle-red: var(--bg-tint-red-subtle);
  --badge-bg-subtle-green: var(--bg-tint-green-subtle);
  --badge-bg-outline: var(--bg-neutral-primary);
  --badge-bg-outline-blue: var(--bg-neutral-primary);
  --badge-bg-outline-orange: var(--bg-neutral-primary);
  --badge-bg-outline-red: var(--bg-neutral-primary);
  --badge-bg-outline-green: var(--bg-neutral-primary);

  @apply text-small-strong inline-flex whitespace-nowrap px-2 py-0.5;

  /* default */
  @apply badge-bold-default badge-radius-medium;
}
