/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
.button {
  --button-fg-primary: var(--fg-neutral-inverse);
  --button-fg-secondary: var(--fg-neutral-primary);
  --button-fg-destructive: var(--fg-neutral-inverse);
  --button-fg-ghost: var(--fg-neutral-primary);
  --button-fg-outline: var(--tint, var(--fg-neutral-primary));
  --button-border-outline: var(--border-neutral-tertiary);
  --button-bg-primary: var(--tint, var(--bg-neutral-inverse));
  --button-bg-secondary: var(--bg-neutral-tertiary);
  --button-bg-destructive: var(--bg-tint-red-bold);
  --button-bg-ghost: var(--bg-neutral-transparent);
  --button-bg-ghost-hover: var(--bg-neutral-secondary);
  --button-bg-outline: var(--bg-neutral-transparent);
  --button-bg-outline-hover: var(--tint-subtle, var(--bg-neutral-secondary));

  @apply relative inline-flex h-fit cursor-pointer items-center justify-center transition-opacity disabled:cursor-not-allowed disabled:opacity-50 [&:not(:disabled)]:hover:opacity-80;

  /* default */
  @apply button-small button-radius-medium button-primary;
}

.button-loading {
  @apply absolute-center pointer-events-none flex shadow-none;

  /* default */
  @apply button-loading-primary;
}
