/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */
@theme {
  --color-base-black: #000;
  --color-base-white: #fff;
  --color-base-transparent: transparent;
  --color-alpha-black-50: rgb(0 0 0 / 8%);
  --color-alpha-black-100: rgb(0 0 0 / 12%);
  --color-alpha-black-200: rgb(0 0 0 / 16%);
  --color-alpha-black-300: rgb(0 0 0 / 20%);
  --color-alpha-black-400: rgb(0 0 0 / 24%);
  --color-alpha-black-500: rgb(0 0 0 / 32%);
  --color-alpha-black-600: rgb(0 0 0 / 46%);
  --color-alpha-black-700: rgb(0 0 0 / 62%);
  --color-alpha-black-800: rgb(0 0 0 / 71%);
  --color-alpha-black-900: rgb(0 0 0 / 81%);
  --color-alpha-black-950: rgb(0 0 0 / 90%);
  --color-alpha-white-50: rgb(255 255 255 / 8%);
  --color-alpha-white-100: rgb(255 255 255 / 12%);
  --color-alpha-white-200: rgb(255 255 255 / 16%);
  --color-alpha-white-300: rgb(255 255 255 / 20%);
  --color-alpha-white-400: rgb(255 255 255 / 24%);
  --color-alpha-white-500: rgb(255 255 255 / 32%);
  --color-alpha-white-600: rgb(255 255 255 / 46%);
  --color-alpha-white-700: rgb(255 255 255 / 62%);
  --color-alpha-white-800: rgb(255 255 255 / 71%);
  --color-alpha-white-900: rgb(255 255 255 / 81%);
  --color-alpha-white-950: rgb(255 255 255 / 90%);

  --color-fg-neutral-primary: var(--color-base-black);
  --color-fg-neutral-secondary: var(--color-neutral-600);
  --color-fg-neutral-tertiary: var(--color-neutral-500);
  --color-fg-neutral-inverse: var(--color-base-white);
  --color-fg-neutral-static: var(--color-base-white);
  --color-fg-tint-red: var(--color-red-600);
  --color-fg-tint-orange: var(--color-amber-600);
  --color-fg-tint-green: var(--color-green-600);
  --color-fg-tint-blue: var(--color-blue-600);
  --color-border-neutral-primary: var(--color-neutral-950);
  --color-border-neutral-secondary: var(--color-neutral-500);
  --color-border-neutral-tertiary: var(--color-neutral-300);
  --color-border-neutral-transparent: var(--color-base-transparent);
  --color-border-tint-red: var(--color-red-600);
  --color-border-tint-orange: var(--color-amber-600);
  --color-border-tint-green: var(--color-green-600);
  --color-border-tint-blue: var(--color-blue-600);
  --color-bg-primary: var(--color-base-white);
  --color-bg-secondary: var(--color-neutral-100);
  --color-bg-tertiary: var(--color-neutral-200);
  --color-bg-dim: var(--color-alpha-black-600);
  --color-bg-neutral-primary: var(--color-base-white);
  --color-bg-neutral-secondary: var(--color-neutral-300);
  --color-bg-neutral-tertiary: var(--color-neutral-200);
  --color-bg-neutral-inverse: var(--color-neutral-950);
  --color-bg-neutral-hover: var(--color-alpha-black-50);
  --color-bg-neutral-transparent: var(--color-base-transparent);
  --color-bg-tint-red-bold: var(--color-red-600);
  --color-bg-tint-red-subtle: var(--color-red-100);
  --color-bg-tint-red-hover: var(--color-red-400);
  --color-bg-tint-orange-bold: var(--color-amber-600);
  --color-bg-tint-orange-subtle: var(--color-amber-100);
  --color-bg-tint-orange-hover: var(--color-amber-400);
  --color-bg-tint-green-bold: var(--color-green-600);
  --color-bg-tint-green-subtle: var(--color-green-100);
  --color-bg-tint-green-hover: var(--color-green-400);
  --color-bg-tint-blue-bold: var(--color-blue-600);
  --color-bg-tint-blue-subtle: var(--color-blue-100);
  --color-bg-tint-blue-hover: var(--color-blue-400);
}

.dark {
  --color-fg-neutral-primary: var(--color-base-white);
  --color-fg-neutral-secondary: var(--color-neutral-300);
  --color-fg-neutral-tertiary: var(--color-neutral-400);
  --color-fg-neutral-inverse: var(--color-base-black);
  --color-fg-tint-red: var(--color-red-500);
  --color-fg-tint-orange: var(--color-amber-500);
  --color-fg-tint-green: var(--color-green-500);
  --color-fg-tint-blue: var(--color-blue-500);
  --color-border-neutral-primary: var(--color-neutral-50);
  --color-border-neutral-secondary: var(--color-neutral-500);
  --color-border-neutral-tertiary: var(--color-neutral-600);
  --color-border-tint-red: var(--color-red-500);
  --color-border-tint-orange: var(--color-amber-500);
  --color-border-tint-green: var(--color-green-500);
  --color-border-tint-blue: var(--color-blue-500);
  --color-bg-primary: var(--color-neutral-950);
  --color-bg-secondary: var(--color-neutral-900);
  --color-bg-tertiary: var(--color-neutral-800);
  --color-bg-dim: var(--color-alpha-black-600);
  --color-bg-neutral-primary: var(--color-neutral-800);
  --color-bg-neutral-secondary: var(--color-neutral-700);
  --color-bg-neutral-tertiary: var(--color-neutral-600);
  --color-bg-neutral-inverse: var(--color-neutral-50);
  --color-bg-neutral-hover: var(--color-alpha-white-50);
}

@utility fg-neutral-primary {
  color: var(--color-fg-neutral-primary);
}
@utility fg-neutral-secondary {
  color: var(--color-fg-neutral-secondary);
}
@utility fg-neutral-tertiary {
  color: var(--color-fg-neutral-tertiary);
}
@utility fg-neutral-inverse {
  color: var(--color-fg-neutral-inverse);
}
@utility fg-neutral-static {
  color: var(--color-fg-neutral-static);
}
@utility fg-tint-red {
  color: var(--color-fg-tint-red);
}
@utility fg-tint-orange {
  color: var(--color-fg-tint-orange);
}
@utility fg-tint-green {
  color: var(--color-fg-tint-green);
}
@utility fg-tint-blue {
  color: var(--color-fg-tint-blue);
}
@utility border-neutral-primary {
  border-color: var(--color-border-neutral-primary);
}
@utility border-neutral-secondary {
  border-color: var(--color-border-neutral-secondary);
}
@utility border-neutral-tertiary {
  border-color: var(--color-border-neutral-tertiary);
}
@utility border-neutral-transparent {
  border-color: var(--color-border-neutral-transparent);
}
@utility border-tint-red {
  border-color: var(--color-border-tint-red);
}
@utility border-tint-orange {
  border-color: var(--color-border-tint-orange);
}
@utility border-tint-green {
  border-color: var(--color-border-tint-green);
}
@utility border-tint-blue {
  border-color: var(--color-border-tint-blue);
}
@utility bg-primary {
  background-color: var(--color-bg-primary);
}
@utility bg-secondary {
  background-color: var(--color-bg-secondary);
}
@utility bg-tertiary {
  background-color: var(--color-bg-tertiary);
}
@utility bg-dim {
  background-color: var(--color-bg-dim);
}
@utility bg-neutral-primary {
  background-color: var(--color-bg-neutral-primary);
}
@utility bg-neutral-secondary {
  background-color: var(--color-bg-neutral-secondary);
}
@utility bg-neutral-tertiary {
  background-color: var(--color-bg-neutral-tertiary);
}
@utility bg-neutral-inverse {
  background-color: var(--color-bg-neutral-inverse);
}
@utility bg-neutral-hover {
  background-color: var(--color-bg-neutral-hover);
}
@utility bg-neutral-transparent {
  background-color: var(--color-bg-neutral-transparent);
}
@utility bg-tint-red-bold {
  background-color: var(--color-bg-tint-red-bold);
}
@utility bg-tint-red-subtle {
  background-color: var(--color-bg-tint-red-subtle);
}
@utility bg-tint-red-hover {
  background-color: var(--color-bg-tint-red-hover);
}
@utility bg-tint-orange-bold {
  background-color: var(--color-bg-tint-orange-bold);
}
@utility bg-tint-orange-subtle {
  background-color: var(--color-bg-tint-orange-subtle);
}
@utility bg-tint-orange-hover {
  background-color: var(--color-bg-tint-orange-hover);
}
@utility bg-tint-green-bold {
  background-color: var(--color-bg-tint-green-bold);
}
@utility bg-tint-green-subtle {
  background-color: var(--color-bg-tint-green-subtle);
}
@utility bg-tint-green-hover {
  background-color: var(--color-bg-tint-green-hover);
}
@utility bg-tint-blue-bold {
  background-color: var(--color-bg-tint-blue-bold);
}
@utility bg-tint-blue-subtle {
  background-color: var(--color-bg-tint-blue-subtle);
}
@utility bg-tint-blue-hover {
  background-color: var(--color-bg-tint-blue-hover);
}
