/**
 * Copyright 2025 LY Corporation
 *
 * LY Corporation licenses this file to you under the Apache License,
 * version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at:
 *
 *   https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
 */

@layer {
  :root {
    --radius-0: 0;
    --radius-2: calc(var(--rounded-base, 0px) + 0.125rem);
    --radius-4: calc(var(--rounded-base, 0px) + 0.25rem);
    --radius-6: calc(var(--rounded-base, 0px) + 0.375rem);
    --radius-8: calc(var(--rounded-base, 0px) + 0.5rem);
    --radius-12: calc(var(--rounded-base, 0px) + 0.75rem);
    --radius-16: calc(var(--rounded-base, 0px) + 1rem);
    --radius-24: calc(var(--rounded-base, 0px) + 1.5rem);
    --radius-full: "62.4375rem";
  }
}
