/* packages/styles/src/css/utilities.css */
@import "../tokens/primitive.css";
@import "../tokens/semantic.css";

.abc-text-dim {
  color: hsl(var(--abc-fg-muted));
}

.abc-surface-base {
  background: hsl(var(--abc-bg-base));
  color: hsl(var(--abc-fg-base));
}
