@tailwind base;
@tailwind components;
@tailwind utilities;

.docs-story {
  background: var(--bg-primary) !important;
  color: var(--fg-neutral-primary);
}

/* remove the docs wrapper bg to let page bg show through */
/* remove unnecessary padding now that theme switcher is not taking up space */
#storybook-docs .sbdocs-wrapper {
  background: transparent !important;
}

/* sb-show-main is missing during page transitions causing a page shift */
/* todo: cleanup once we no longer inherit docs-root */
.sb-show-main.sb-main-fullscreen,
.sb-main-fullscreen {
  margin: 0;
  padding: 0;
  display: block;
}

/* remove loading overlay */
.sb-preparing-story,
.sb-preparing-docs,
.sb-nopreview,
.sb-errordisplay {
  display: none !important;
}

/* remove tag overriding style */
.token.tag {
  display: inline;
  padding: 0;
}
